alias t='tree'
alias df='df -h'
alias cls='clear'
alias mkdir='mkdir -pv'
alias chmod='chmod -v'
alias cp='cp -vi'
alias mv='mv -vi'
alias rm='rm -vi'
alias ln='ln -vi'
alias ls='lsd'
alias du='dust'
alias grep='rg -p'
alias less='less --quit-at-eof --no-init --tabs=4 --RAW-CONTROL-CHARS'
alias nv='neovide'
alias ssh='ssh -q'
alias cat='bat'
alias zx='zx --experimental'

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

alias path='echo -e ${PATH//:/\\n}'
