#!/usr/bin/env bash

export EDITOR='vim';

# zsh
export ZSH="$HOME/.oh-my-zsh";

# nvm
export NVM_DIR="$([ -z "${XDG_CONFIG_HOME-}" ] && printf %s "${HOME}/.nvm" || printf %s "${XDG_CONFIG_HOME}/nvm")"

# bun
export BUN_INSTALL="$HOME/.bun"

# riscv-gnu-toolchain
export RISCV=/opt/riscv

# pyenv
export PYENV_ROOT="$HOME/.pyenv"

export PATH="$BUN_INSTALL/bin:$PYENV_ROOT/bin:$RISCV/bin:$PATH"

# puppeteer
export CHROME_DEVEL_SANDBOX=/usr/local/sbin/chrome-devel-sandbox;

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Make the command-line history ignore duplicate command lines.
export HISTCONTROL=erasedups:ignoredups
# Make the command-line history show dates and times.
export HISTTIMEFORMAT="%F %T "
export HISTIGNORE='pwd:exit:fg:bg:top:clear:history:ls:uptime:df:clear:cls'

# Support non-ASCII characters in terminal.
# Note: use LC_ALL='C' if you want sort to behave in expected way.
export LC_ALL='en_US.UTF-8'
export LANG='en_US.UTF-8'
export LANGUAGE='en_US.UTF-8'

# Suppress OS X warning to change default shell to zsh.
export BASH_SILENCE_DEPRECATION_WARNING=1

# flutter
export PUB_HOSTED_URL=https://pub.flutter-io.cn
export FLUTTER_STORAGE_BASE_URL=https://storage.flutter-io.cn

# goproxy
export GOPROXY=https://goproxy.cn,direct

# rust
export RUSTUP_DIST_SERVER=https://mirrors.sjtug.sjtu.edu.cn/rust-static
export RUSTUP_UPDATE_ROOT=https://mirrors.sjtug.sjtu.edu.cn/rust-static/rustup

# fzf
export FZF_DEFAULT_COMMAND="fd --type f --hidden --follow --exclude={.git,.idea,.sass-cache,node_modules}"
export FZF_DEFAULT_OPTS="--height 70% --layout=reverse"
export FZF_CTRL_T_OPTS="--select-1"

# fcitx5
export XMODIFIERS=@im=fcitx
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
